In [ ]:
#print 0 to 20 by using range

In [1]:
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [2]:
#print range 10 to 20

In [7]:
for num in range(10,20,1):
    print(num,end="  ")

10  11  12  13  14  15  16  17  18  19

In [8]:
#print number of items in the list by using 'len'

In [24]:
list1=[88,99,3,56,23,76]
list2=[10,20,14,55,43,87,76]
x=len(list2)
print(list2)
print("number of item in the list2:")
print(x)

[10, 20, 14, 55, 43, 87, 76]
number of item in the list2:
7

In [75]:
a="Artifical Intelligence"
print(a)
for i in a:
    print(i)

Artifical Intelligence
A
r
t
i
f
i
c
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [39]:
a=["-your name-\n","-your age-\n","-your proffession-"]
for i in a:
    print(i,end="")

-your name-
-your age-
-your proffession-

In [ ]:
#print this mixered datatype using tuples

In [61]:
tuple=(1,'welcome',2,'hope')
print(tuple)

(1, 'welcome', 2, 'hope')

In [36]:
tuple1=(0,1,2,3)
tuple2=('python','hope')
add=tuple1,tuple2
print(add)

((0, 1, 2, 3), ('python', 'hope'))

In [65]:
#print odd numbers in the List

In [73]:
list=(20,10,16,19,25,1,276,188)
print(list)
for i in list:
    if((i%2)==1):
        print(i,"is odd")

(20, 10, 16, 19, 25, 1, 276, 188)
19 is odd
25 is odd
1 is odd

In [ ]:
#print even numbers in the list

In [74]:
list=(20,10,16,19,25,1,276,188)
print(list)
for i in list:
    if((i%2)==0):
        print(i,"is even")

(20, 10, 16, 19, 25, 1, 276, 188)
20 is even
10 is even
16 is even
276 is even
188 is even